<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    


    <title>UD5.2  Tarea 1 Introduccion a Vue | Ejercicio 6</title>
	
		

	
</head>
<body>


    
    <div id="example-1">		
		
		<input v-model="ancho" type="range" placeholder="ancho" min="1" max="1000"> 
    <input v-model="alto" type="range" placeholder="alto" min="1" max="1000">
			
		<p>Ancho: {{ ancho }}</p>
		<p>Alto: {{ alto }}</p>			
		
		<p>Image kitten con URL computada:</p>	
		<img :src="urlkittenComputada">		
		
    </div>



   
    <script src="js/script.js"></script>
</body>
</html>