@import "../lib/bootstrap-5.1.3/scss/functions";
@import "../lib/bootstrap-5.1.3/scss/variables";
@import "../lib/bootstrap-5.1.3/scss/mixins";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

header img {
    max-height: 50px;
}

main #img-inicio {
    background-image: url("img/pescador-cana-pesca.jpg");
    height: 80vh;
    background-size: cover;
  }


@import "../lib/bootstrap-5.1.3/scss/bootstrap";
    