@import "../lib/bootstrap-5.1.3/scss/functions";
@import "../lib/bootstrap-5.1.3/scss/variables";
@import "../lib/bootstrap-5.1.3/scss/mixins";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

#img-logo {
    max-height: 50px;
}

main #img-inicio {
    background-image: url("img/pescador-cana-pesca.jpg");
    height: 80vh;
    background-size: cover;
  }

#img-footer {
    background-image: url("img/silueta-pescadores-pescando.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-position: 0;
}



#div-footer{
    max-height: 10px;
}

@include media-breakpoint-down(xl) { 
    #img-footer {
        height: 50vh;
        background-size: 100%;
    }

 }

@import "../lib/bootstrap-5.1.3/scss/bootstrap";

